/* ? ----------HEADER--------- */
/* .page-header {
  position: sticky;

  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
.mobile-menu {
  display: none;
}
.navigation {
 
  gap: 61px;
  align-items: center;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.navigation .menu {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
}
.navigation .current {
  position: relative;
  color: #404bbf;
}

.address-class {
  font-style: normal;
}

.address-class .info {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  padding: 24px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-right: 76px;
}

.logo > .studio-part-footer {
  color: var(--cloud);
}
.logo > .studio-part-header {
  color: var(--text-color);
} */

/*? -------- HERO ---------- */
/* .hero-image,
.page-footer {
  background-color: var(--text-color);
}
.hero-image {
  padding: 72px 0px;
  max-width: 1440px;
  height: 432px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image/people-office-mobile.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.page-title {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

.order-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--main-blue);
  padding: 16px 32px;
  margin: 72px auto 0px;
  border-radius: 4px;
  min-width: 169px;
  border: 0;
  display: block;

  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--active-blue);
}

.media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.media-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  background-color: #404bbf;
}
.media-list-item {
  width: 40px;
  height: 40px;
}
.menu:active,
.menu:hover {
  color: #404bbf;
}
.info:active,
.info:hover,
.info:focus {
  color: #404bbf;
}*/

/* ? -------------SECTION 2---------------- */
/* .section-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.benefits .card:not(:last-child) {
  margin-bottom: 72px;
}

.benefits .section-title {
  margin-bottom: 8px;
}
.benefits .section-text {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
} 
.icon-benefits {
  width: 64px;
  height: 64px;
} */
/* ? --------------------SECTION 3------------------------ */
/* 
.section-two {
  background-color: var(--cloud);
  margin-left: auto;
  margin-right: auto;
}

.team-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-left: auto;
  margin-right: auto;
}
.team-cards .card:not(:first-child) {
  margin-top: 72px;
}
.team-cards {
  margin-top: 72px;
}
.card-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}
.worker {
  padding: 32px 0;
}


.icon-media,
.icon-footer {
  fill: #f4f4fd;
} */

/* .icon-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  border: 1px solid var(--border);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  cursor: pointer;
  display: none;
} */

/*? -------------------------SECTION 4 -------------------------*/
/* 
.portfolio-cards {
  margin-top: 72px;
}
.portfolio-cards .card {
  display: flex;
  width: 288px;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  background-color: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-cards .card:not(:first-child) {
  margin-top: 72px;
}
.portfolio-cards .card .section-title {
  margin-bottom: 8px;
}
.portfolio-cards .card-text,
.portfolio-cards .card-title {
  text-align: left;
}
.portfolio-cards .card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.card-image {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 8px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards .card:hover .overlay-text {
  transform: translateY(0%);
}


.point {
  background-color: var(--white);
} */

/* ? ---------------------FOOTER------------------- */
/* .page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.page-footer .container .logo {
  text-align: center;
  margin-bottom: 17.5px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer {
  padding-top: 97.5px;
  padding-bottom: 96px;
}

.footer-text {
  display: block;
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}
.media-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-media-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.media-footer-item {
  width: 40px;
  height: 40px;
}
.media-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer-link:hover,
.media-footer-link:focus {
  background-color: #31d0aa;
}

.label-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-input {
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  color: #ffffff;
  transition: border cubic-bezier(0.4, 0, 0.2, 1),
    outline cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-input:focus {
  border: none;
  outline: 2px solid #31d0aa;
}
.footer-form-button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  transition: back-ground-color cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.icon-telegram-form {
  fill: #fff;
  margin-left: 16px;
} */
/* .my-form {
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 288px;
  height: 623px;
  flex-shrink: 0;
  padding: 72px 16px 24px 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000; 
  
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  display: block;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}
.form-title {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  margin-bottom: 16px;
}
.user-input {
  margin-bottom: 8px;
}
.user-input-comment {
  margin-bottom: 16px;
}
.form-label {
  color: var(--border);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}

.input-container {
  position: relative;
  
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.input-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-comment:focus {
  border-color: #4d5ae5;
}
.private-policy-text {
  color: var(--main-blue);
  text-decoration: underline;
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
 
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:focus,
.form-button:hover,
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}
.checkbox-container {
  cursor: pointer;
  margin-bottom: 24px;
}
.label-checkbox {
  display: flex;
}
.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.check-box:checked + .label-checkbox > .span-checkbox {
  border: none;
  background-color: var(--active-blue);
  fill: var(--cloud);
} */

/* 

.page-header {
  position: sticky;

  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  gap: 265px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.navigation {
  display: flex;
  gap: 61px;
  align-items: center;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.navigation .menu {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
}
.navigation .current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.menu:active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
  background-color: #404bbf;
}
.address-class {
  font-style: normal;
}

.address-class .info {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  padding: 24px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-right: 76px;
 
}

.logo > .studio-part-footer {
  color: var(--cloud);
}
.logo > .studio-part-header {
  color: var(--text-color);
}

.hero-image,
.page-footer {
  background-color: var(--text-color);
}

.page-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.order-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--main-blue);
  padding: 16px 32px;
  margin: 48px auto 0px;

  gap: 10px;
  border-radius: 4px;
  min-width: 169px;
  border: 0;
  display: block;

  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--active-blue);
}
.menu:active,
.menu:hover {
  color: #404bbf;
}
.info:active,
.info:hover,
.info:focus {
  color: #404bbf;
}

.section .section-title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section .section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two {
  background-color: var(--cloud);
  margin: auto;
}
.sectiono-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-title {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  display: block;
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.point {
  background-color: var(--white);
}
.benefits {
  display: flex;
  gap: 24px;
  align-items: first baseline;
  justify-content: center;
  justify-items: center;
}
.benefits > .card {
  display: flex;
  flex-direction: column;
  width: 264px;

  align-items: flex-start;
}
.benefits .card .section-text {
  text-align: left;
}
.benefits .section-title {
  margin-bottom: 8px;
}

.team-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-cards .card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-cards .card .section-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-cards .card .section-text {
  text-align: center;
  padding-bottom: 8px;
}
.worker {
  padding: 32px 0;
}

.portfolio-cards {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-cards .card {
  display: flex;
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  background-color: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.portfolio-cards .card .section-title {
  margin-bottom: 8px;
}
.portfolio-cards .card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
}
.page-footer .container .logo {
  display: inline-block;
  margin: 1.5px auto 16px;
}

.page-footer {
  padding: 100px 0;
}
.hero-image {
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image/people-office.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.icon-media,
.icon-footer {
  fill: #f4f4fd;
}

.icon-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  border: 1px solid var(--border);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  cursor: pointer;
}
.icon-benefits {
  width: 64px;
  height: 64px;
}
.media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.card-image {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 8px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards .card:hover .overlay-text {
  transform: translateY(0%);
}

.media-footer {
  display: flex;
  gap: 16px;
}
.footer-media-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.media-footer-item {
  width: 40px;
  height: 40px;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
 
}
.media-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  background-color: #404bbf;
}
.media-list-item {
  width: 40px;
  height: 40px;
}
.footer-part-one {
  margin-right: 120px;
}
.media-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer-link:hover,
.media-footer-link:focus {
  background-color: #31d0aa;
}
.footer-part-two {
  margin-right: 80px;
}
.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-form {
  display: flex;
  align-items: end;
  gap: 24px;
}
.label-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  color: #ffffff;
  transition: border cubic-bezier(0.4, 0, 0.2, 1),
    outline cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-input:focus {
  border: none;
  outline: 2px solid #31d0aa;
}
.footer-form-button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  display: flex;
  cursor: pointer;
 
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  transition: back-ground-color cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-telegram-form {
  fill: #fff;
  margin-left: 16px;
}
.my-form {
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  padding: 72px 24px 24px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000; 
  
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  display: block;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}
.form-title {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
 
  margin-bottom: 16px;
}
.user-input {
  margin-bottom: 8px;
}
.user-input-comment {
  margin-bottom: 16px;
}
.form-label {
  color: var(--border);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  
  margin-bottom: 4px;
  
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}

.input-container {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.input-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-comment:focus {
  border-color: #4d5ae5;
}
.private-policy-text {
  color: var(--main-blue);
  text-decoration: underline;
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:focus,
.form-button:hover,
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}
.checkbox-container {
  cursor: pointer;
  margin-bottom: 24px;
}

.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.check-box:checked + .label-checkbox > .span-checkbox {
  border: none;
  background-color: var(--active-blue);
  fill: var(--cloud);
}  */
