.section-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.benefits .card:not(:last-child) {
  margin-bottom: 72px;
}

.benefits .section-title {
  margin-bottom: 8px;
}
.benefits .section-text {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}
.icon-benefits {
  width: 64px;
  height: 64px;
}
.icon-background {
  display: none;
}
@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .benefits .section-text {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits .section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .benefits .section-text {
    font-weight: 400;
  }
  .benefits {
    display: flex;
    gap: 24px;
    align-items: first baseline;
    justify-content: center;
    justify-items: center;
  }
  .benefits .card {
    display: flex;
    flex-direction: column;
    width: 264px;
    align-items: flex-start;
  }
  .benefits .card .section-text {
    text-align: left;
    width: 264px;
  }
  .benefits .card:not(:last-child) {
    margin-bottom: 0px;
  }
  .benefits .section-title {
    margin-bottom: 8px;
  }

  .icon-background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud);
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .icon-benefits {
    width: 64px;
    height: 64px;
  }
}
