:root {
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --main-blue: #4d5ae5;
  --active-blue: #404bbf;
  --border: #8e8f99;
  --text-color: #2e2f42;
  --secondary-text-color: #434455;
}
